* {
	box-sizing: border-box;
	font-family: product_sansregular;
}

body {
	margin: 0;
	padding: 0;
}

h1{
	font-size: 14vw;
	margin:0;
}

p1{
	font-size: 2.5vw;
	letter-spacing: 11px;
}

.gradient{
	background: linear-gradient(to right,#00C9FF,#92FE9D);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.border{
	border: 2px solid black;
}

.bg{
	background-color: pink;
}

.divider{
	border: 1px solid black;
	margin: 2% 10%;
}

.wrapperHome{
	margin: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapperAbout{
	margin: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.wrapperAbout .image{
	border: 2px solid red;
}

.wrapperAbout .text{
	border: 2px solid blue;
}