* {
	box-sizing: border-box;
	font-family: product_sansregular;
}

/* global margin */
.containerAbout, .containerPortfolio, .containerContact{
	margin: 0 15%;
}
@media only screen and (max-width: 600px) {
	.containerAbout, .containerPortfolio, .containerContact{
		margin: 0 5%;
	}
  }

/* dark mode */
@media (prefers-color-scheme: dark) {
	body {
	  background-color: #181c22;
	  color: white;
	}

	.containerAbout .text a{ color: cornsilk; }

	.containerContact .containerIcons{
		border-radius: 7px;
		background-color: white;
		margin: 20px;
	}

  }

/*PAGE HEADER SECTION*/ /*PAGE HEADER SECTION*/ /*PAGE HEADER SECTION*/ /*PAGE HEADER SECTION*/

/* contains page title & subtitle */
.containerHeader{
	margin: 2% 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* title */
.containerHeader h1{ font-size: 14vw; margin: 0;}

/* subtitle */
.containerHeader p{
	font-size: 2.5vw;
	letter-spacing: 11px;
	margin: 0;
}

/* title gradient */
.gradient{
	background: linear-gradient(to right,#00C9FF,#92FE9D);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* subtitle gradient */
.gradientSub{
	background: linear-gradient(to right,#2F80ED,#56CCF2);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.divider{
	border: 2px solid #000;
	margin: 2% 14%;
}

.dividerSmall{
	border: 1px solid #000;
	margin: 2% 35%;
}

/* ABOUT ME SECTION */ /* ABOUT ME SECTION */ /* ABOUT ME SECTION */ /* ABOUT ME SECTION */

/* contains about me title & text & avatar */
.containerAbout{ display: flex; flex-flow: row ;}

/* contains all the text */
.containerAbout .text{
	margin: 10px;
	font-size: 20px;
	padding: 0 20px;
}

/* about me title */
.containerAbout .text h2{
	display: inline-block;
	font-size: 40px;
	margin: 2px;
}

/* scrum master link */
.containerAbout .text a {text-decoration: none;}

/* avatar */
.containerAbout img{
	height: 150px;
	width: 150px;
	margin-top: 40px;
	border-radius: 5px;
}

@media only screen and (max-width: 600px) {
	.containerAbout {
	  flex-flow: column;
	}
	.containerAbout img{
		margin: 20px 0 0 35px;
	}
  }

/*PORTFOLIO SECTION*/ /*PORTFOLIO SECTION*/ /*PORTFOLIO SECTION*/ /*PORTFOLIO SECTION*/

/* contains all the projects */
.containerPortfolio{ display: flex; flex-flow: column ;}

/* contains project img & text */
.containerPortfolio .project{ display: flex; flex-direction: row;}

/* project picture */
.project .image{width:250px;}

/* projet title */
.containerPortfolio h2{
	display: inline-block;
	font-size: 45px;
	margin: 2px;
}

/* contains all the text */
.containerPortfolio .text{
	margin: 10px;
	font-size: 20px;
	padding: 0 20px;
}

/* Google Play & Firebase badges */
a[href="http://bit.ly/cascade-app"] img {width: 190px;}
a[href="#"] img {width: 150px; }

@media only screen and (max-width: 600px) {
	.containerPortfolio .project {
	  flex-flow: column;
	}
	.project .image {        
		margin-left: 35px;
	  }
  }

/*CONTACT SECTION*/ /*CONTACT SECTION*/ /*CONTACT SECTION*/ /*CONTACT SECTION*/ /*CONTACT SECTION*/

/* contains title and icons */
.containerContact{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 30px;
}

/* title */
.containerContact h2{ font-size: 40px; margin: 2px;}

/* icon group */
.containerContact .containerIcons{ display: flex; align-items:center;}

/* individual icons */
.icon{ height: 100px; width: 100px; margin: 20px;}

@media only screen and (max-width: 600px) {
	.containerContact .containerIcons{ flex-direction: column;}

	.icon{ height: 80px; width: 80px; margin: 10px;}
}

/* IE COMPATIBILITY QUERY */ /* IE COMPATIBILITY QUERY */ /* IE COMPATIBILITY QUERY */ /* IE COMPATIBILITY QUERY */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.gradient{ color: #00C9FF; background: white;}
	.gradientSub{ color: #2F80ED; background: white;}
}
